<template>
    <div>
        <!-- <h1>{{ name }}</h1>
        <p>{{ tasks[0] }}</p>
        <p>{{ tasks[1] }}</p>
        <hr>
        <ComponentA/>
        <ComponentB/>
        <ComponentC/> -->
        <p>{{ firstName }} {{ lastName }}</p>
        <p>{{ fullName }}</p>
    </div>
    
</template>

<script>
// import ComponentA from './ComponentA.vue';
// import ComponentB from './ComponentB.vue';
// import ComponentC from './ComponentC.vue';
    export default {
        name:'GreetingMessage',
        // props:['first_name','lastName','fullName'],
        props:{
            firstName:String,
            lastName:String,
            fullName:{
                type:String,
                // default:'Unknow',
                required:false,

            }
        },
        components: {
            // ComponentA,
            // ComponentB,
            // ComponentC,
        },
        data() {
            return {
                name:"Mark Zuckerberg",
                tasks:[
                    {id:1,title:'Buy some milk',isFav: false},
                    {id:2,title:'Play games',isFav: false},
                ]
            }
        },
    }
</script>
